@import '~antd/es/style/themes/default.less';

.standardTable {
  :global {
    .ant-table-pagination {
      margin-top: 24px;
    }
    .ant-tag {
      border-radius: 4px;
    }
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      max-width: 100px;
    }
    div.ant-typography,
    .ant-typography p {
      margin-bottom: 0;
    }
  }

  .tableAlert {
    margin-bottom: 16px;
  }
}
